<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Picross_LevelEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Picross_LevelEditor.Properties.Settings>
            <setting name="bToolTipAvilable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ciSelectedLanguage" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="bGridLineShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sExportGraphPath" serializeAs="String">
                <value />
            </setting>
            <setting name="bExportGraphAddSizeToName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bExportGraphUsePng" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bExportGraphUseBmp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bExportGraphUseTif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bExportGraphUseGif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bExportGraphUseJpg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bExportGraphUseWpg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bExportGraphPngInter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bExportGraphTifWithZip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="byteExportGraphJpgQuality" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="byteExportGraphWpgQuality" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="iExportGraphOutputScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bIsSimple" serializeAs="String">
                <value>True</value>
            </setting>
        </Picross_LevelEditor.Properties.Settings>
    </userSettings>
</configuration>